<!DOCTYPE html>
<html>
<head>
    <script src="{{ url_for('static', filename='js/jquery-3.6.3.js') }}" type="text/javascript"></script>

</head>
<body>
    <h1>Blue - Green Wall</h1>
    <p class="data"></p>
    <div>
        <canvas id="canvas" width="3000px" height="3000px"></canvas>
    </div>
    <canvas id = "canvas"></canvas>
    <script>
        var pinLocations = []
        var brokenSensorLoc = []
        var lastData = []
        var bw = 240
        var bh = 300
        var p = 3
        var scale = 2
        var pad = 20
        var yDim = 25
        var xDim = 20
        var numPinsY = 13
        var numPinsX = 21
        var start = 20
        var lastPinData = []
        var spiderLocation = []
        var canvas = document.getElementById("canvas");
        var ctx = canvas.getContext("2d");
        for(var y = numPinsY-1; y >= 0; y--){
                    for(var x = 0; x < numPinsX; x++){
                        pinLocations.push([pad+x*xDim*scale,pad+y*yDim*scale])
                    }
                }
        function draw(data,lastData,brokenSensorLoc){
            ctx.beginPath()
            for(var j  = 1; j<7; j++){    
                start = 20;
                for(var y = 0; y < 6; y++ ){
                    for(var x = 0;x < 6;x++){
                        try{
                            if(j == 1 || j == 4){
                                start = 60;
                            }
                            else if(j == 3 || j == 6){
                                start = -20;
                            }
                            if(Number(data[j][y][x]) == Number(1)){
                                    ctx.beginPath()
                                    ctx.fillStyle = "#56fc03";
                                    ctx.strokeStyle="#56fc03";
                                    if(j<4){
                                        ctx.moveTo(start+(j-1)*7*xDim*scale+(x*xDim*scale)+((xDim*scale)/2),20+((5-y)*yDim*scale)+((yDim*scale)/2))
                                        ctx.arc(start+(j-1)*7*xDim*scale+(x*xDim*scale)+((xDim*scale)/2),20+((5-y)*yDim*scale)+((yDim*scale)/2),4,0,2*Math.PI)
                                        
                                    }
                                    else{
                                        ctx.moveTo(start+(j-4)*7*xDim*scale+(x*xDim*scale)+((xDim*scale)/2),6*(yDim*scale)+20+((5-y)*(yDim*scale))+((yDim*scale)/2))
                                        ctx.arc(start+(j-4)*7*xDim*scale+(x*xDim*scale)+((xDim*scale)/2),6*(yDim*scale)+20+((5-y)*(yDim*scale))+((yDim*scale)/2),4,0,2*Math.PI)
                                        
                                    }
                                    ctx.fill()
                                    ctx.stroke()
                                }
                                else if(data[j][y][x] != lastData[j][y][x] || lastData.length() != 0 && data[j][y][x] == 0){
                                    if(j<4){
                                        brokenSensorLoc.push([start+(j-1)*7*xDim*scale+(x*xDim*scale)+((xDim*scale)/2),20+((5-y)*(yDim*scale))+((yDim*scale)/2),j,y,x])
                                    }
                                    else{
                                        brokenSensorLoc.push([start+(j-4)*7*xDim*scale+(x*xDim*scale)+((xDim*scale)/2),6*yDim*scale+20+((5-y)*yDim*scale)+((yDim*scale)/2),j,y,x])
                                    }
                                }
                            }
                        catch{
                            continue;
                        }
                    }
                }
            }
        }
        
        function update(){
            $.get("./update",function(data){
                console.log(data)
                ctx.beginPath()
                ctx.clearRect(0,0,canvas.width,canvas.height);
                for( var i = 0; i<pinLocations.length; i++){
                    ctx.moveTo(pinLocations[i][0],pinLocations[i][1])
                    ctx.arc(pinLocations[i][0],pinLocations[i][1],2,0,2*Math.PI)
                }
                ctx.moveTo(10,10);
                ctx.lineTo(10, 30+(numPinsY-1)*yDim*scale);
                ctx.moveTo(10,10);
                ctx.lineTo(30+(numPinsX-1)*xDim*scale,10);
                ctx.moveTo(10, 30+(numPinsY-1)*yDim*scale);
                ctx.lineTo(30+(numPinsX-1)*xDim*scale,30+(numPinsY-1)*yDim*scale);
                ctx.moveTo(30+(numPinsX-1)*xDim*scale,10);
                ctx.lineTo(30+(numPinsX-1)*xDim*scale, 30+(numPinsY-1)*yDim*scale);
                ctx.moveTo(50 + ((numPinsX/3)-1)*xDim*scale,10);
                ctx.lineTo(50 + ((numPinsX/3)-1)*xDim*scale,30+(numPinsY-1)*yDim*scale)
                ctx.moveTo(30 + ((numPinsX/3)*2-1)*xDim*scale,10);
                ctx.lineTo(30 + ((numPinsX/3)*2-1)*xDim*scale,30+(numPinsY-1)*yDim*scale)
                ctx.moveTo(10,30 + 6*yDim*scale);
                ctx.lineTo(30+(numPinsX-1)*xDim*scale, 30 + 6*yDim*scale);
                ctx.strokeStyle = "black"
                ctx.stroke()
                draw(data,lastData,brokenSensorLoc);
                lastData = []
                lastData = [...data]
                console.log(brokenSensorLoc)
                ctx.beginPath()
                ctx.strokeStyle="red";
                ctx.fillStyle="red";
                for( var i = 0; i < brokenSensorLoc.length; i++){
                    try{
                        if(lastData[brokenSensorLoc[i][2]][brokenSensorLoc[i][3]][brokenSensorLoc[i][4]]!=1){
                            ctx.moveTo(brokenSensorLoc[i][0],brokenSensorLoc[i][1])
                            ctx.arc(brokenSensorLoc[i][0],brokenSensorLoc[i][1],4,0,2*Math.PI)           
                        }
                        else{
                            brokenSensorLoc.splice(i,1);
                        }
                    }
                    catch{
                        continue;
                    }
                }
                ctx.fill()
                ctx.stroke()
                $("#output").html(data)
            });
            $.get("./spiderPos",function(data){
                console.log(data)
                if(JSON.stringify(data) != JSON.stringify(lastPinData)){
                    spiderLocation.unshift([data[0],data[1]])
                }
                lastPinData = []
                lastPinData = [...data]
                for (let i = 0; i < spiderLocation.length; i++) {
                const opacity = 1/(i+1);
                ctx.fillStyle = "#34ebe8"
                ctx.fillStyle = `rgba(52, 235, 232, ${opacity})`;
                ctx.beginPath();
                ctx.arc(spiderLocation[i][0]*100*scale, spiderLocation[i][1]*100*scale, 5*scale, 0, 2 * Math.PI)
                ctx.fill()
                }
            });
        }
        update();
    
        var inrvalId = setInterval(function(){
            update()
            
        },20000)
        
    </script>
</body>
</html>